
h1{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h2{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
}

li{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;  
}

a{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

div {
  text-align: center;
  width:1000px;
  margin-left:20px;
  }